<div class="tab-pane" id="account-social-links">
  <div class="card-body pb-2">

    <div class="form-group">
      <label class="form-label">Twitter</label>
      <input type="text" class="form-control" value="https://twitter.com/user">
    </div>
    <br>

    <div class="form-group">
      <label class="form-label">Facebook</label>
      <input type="text" class="form-control" value="https://www.facebook.com/user">
    </div>
    <br>

    <div class="form-group">
      <label class="form-label">Google+</label>
      <input type="text" class="form-control" value="">
    </div>
    <br>

    <div class="form-group">
      <label class="form-label">LinkedIn</label>
      <input type="text" class="form-control" value="">
    </div>
    <br>

    <div class="form-group">
      <label class="form-label">Instagram</label>
      <input type="text" class="form-control" value="https://www.instagram.com/user">
    </div>

  </div>
</div>
