.line {
  color: #0000FF;
  background-color: #0000FF;
}

.dashboardContainer{
  margin: 10px;
}

.dashboardBottom{
  height: 38%;
}

.salesAmount{
  display: inline;
  right: 80px;
  position: fixed;
}

.dashboardSelect{
  display: inline-block;
  width: auto;
  position: absolute;
  right: 70;
}

.dashboardTopText{
  display: inline-block;
}

.dashboardTopCards{
  position: relative;
}

.row{
  --bs-gutter-x: 1.3rem;
}
