<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<br />
<div class="text-center">
  <h1>Dashboard</h1>
</div>

<hr class="line" />

<div class="dashboardContainer">
  <div class="row align-items-md-stretch">
    <div class="col-md-4 dashboardTopCards">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2 class="dashboardTopText">Change background</h2>
        <select class="form-select dashboardSelect" aria-label="Default select example">
          <option selected>Last three months</option>
          <option>Last six months</option>
          <option>Last year</option>
        </select>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <button class="btn btn-outline-light" type="button">Example button</button>
      </div>
    </div>
    <div class="col-md-4 dashboardTopCards">
      <div class="h-100 p-5 bg-light border rounded-3">
        <div>
          <h2 class="dashboardTopText">Add borders</h2>
          <select class="form-select dashboardSelect" aria-label="Default select example">
            <option selected>Last three months</option>
            <option>Last six months</option>
            <option>Last year</option>
          </select>
        </div>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <button class="btn btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
    <div class="col-md-4 dashboardTopCards">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2 class="dashboardTopText">Add borders</h2>
        <select class="form-select dashboardSelect" aria-label="Default select example">
          <option selected>Last three months</option>
          <option>Last six months</option>
          <option>Last year</option>
        </select>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <button class="btn btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
  </div>
  <br>

  <div class="row align-items-md-stretch dashboardBottom">
    <div class="col-md-7">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Sales</h2>
        <div class="chart-container" style="position: relative; height:200px; width:500px">
          <canvas id="canvas2"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Add borders</h2>
        <div class="chart-container" style="position: relative; height:200px; width:200px">
          <canvas id="canvas"></canvas>
        </div>
        <div class="salesAmount">{{sales}}</div>
      </div>
    </div>
  </div>
  </div>
