div.list-group {
  width: 950px;
  margin: auto;
}

.line {
  color: #0000FF;
  background-color: #0000FF;
}

.images
{
  display: inline-block;
  margin: 5px;
  border: dotted 1px grey;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.imageInputGroup
{
  display: inline-block;
  margin: 5px;
  border: dotted 1px grey;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

.imageInput
{
  border: 0.6px solid black;
  border-radius: 50%;
  width: 26px;

}

#imageDeleteBtn{
  display: none;
  position: absolute;
  top:55px;
  left:53px;
}

img:hover + .btn-close, .btn-close:hover {
  display: inline-block;
}

.exampleInputDiv
{
  padding-bottom: 5px;
}

.form-select{
  width: 300px;
  margin-bottom: 5px;
}

.form-control{
  width: 80px;
  margin-bottom: 5px;
}

#bigInputField{
  width: 100%;
}