<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<br />
<div class="text-center">
  <h1>Manage dish
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="float: right; margin-right:50px;">Add dish</button>
  </h1>
</div>


<hr class="line" />
<br />


<div class="list-group" >
  <a class="list-group-item list-group-item-action" *ngFor="let dish of dishs$">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name: {{dish.name}}</h5>
      <small class="text-muted">{{dish.id}}</small>
    </div>
    <p class="mb-1">Description: {{dish.description}}</p>
    <small class="text-muted">Allergies: {{dish.allergies}}</small>
    <button (click)="delete(dish.id)" class="btn btn-danger mx-3" style="float: right; margin-right:50px;">Delete</button>
    <button (click)="getById(dish.id)" style="color: aliceblue;" class="btn btn-info" style="float: right;" data-bs-toggle="modal" data-bs-target="#exampleModal2">Edit</button>
  </a>
  <br />
  <br />
  <br />
</div>




<!-- add Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add dish</h5>
        <button type="button" id="cancel" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <div class="images" *ngFor="let image of dish.images">
              <img src="{{image.url}}" height="76">
              <button type="button" class="btn-close" id="imageDeleteBtn"></button>
            </div>
            <div class="imageInputGroup" *ngIf="dish.images.length < 8">
              <label for="file"><div class="imageInput">+</div></label>
              <input type="file" style="display: none;" (change)="convertToBase64($event)"class="form-control" id="file" accept=".png" data-bs-toggle="modal" data-bs-target="#exampleModal3">
            </div>

          </div>
          <div class="mb-3">
          <div class="row">
            <div class="col">
              <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width: 300px;">
            </div>
            <div class="col">
              <label for="exampleInputEmail122" class="form-label">Price</label>
            <input type="number" formControlName="price" class="form-control" id="exampleInputEmail122" aria-describedby="emailHelp" min="0" max="10000.00" step="0.01" style="width: 80px;">
            </div>
          </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input type="text" formControlName="description" class="form-control" id="bigInputField" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Allergies</label>
            <input type="text" formControlName="allergies" class="form-control" id="bigInputField" aria-describedby="emailHelp">
          </div>

          <div class="row">
            <div class="col">
              <label for="inlineFormCustomSelectPref" class="form-label">Ingredients</label>
            <select formControlName="ingredients" class="form-select" id="ingredient{{i}}" aria-label="Default select example" style="width: 300px; margin-bottom: 5px;" *ngFor="let i of ingredientSelect">
              <option selected value="">Select an ingredient</option>
              <option *ngFor="let ingredient of ingredients$" value="{{ingredient.ingredientId}}">{{ingredient.name}}</option>
            </select>
            </div>
            <div class="col">
              <label for="exampleInputEmail122" class="form-label">Gram</label>
            <input formControlName="gram" type="number" *ngFor="let i of ingredientSelect" id="gram{{i}}" class="form-control" aria-describedby="emailHelp" min="0" style="width: 80px; margin-bottom: 5px;">
            </div>
          </div>
          <button type="button" class="btn btn-outline-secondary" (click)="addToIngredientSelect()">+</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="post()" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- update Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update dish</h5>
        <button type="button" id="cancel2" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue2">
          <div class="mb-3">
            <div class="images" *ngFor="let image of images">
              <img src="{{image.url}}" height="76">
              <button type="button" class="btn-close" id="imageDeleteBtn"></button>
            </div>
            <div class="imageInputGroup" *ngIf="images.length < 8">
              <label for="file2"><div class="imageInput">+</div></label>
              <input type="file" style="display: none;" (change)="convertToBase642($event)"class="form-control" id="file2" accept=".png" data-bs-toggle="modal" data-bs-target="#exampleModal4">
            </div>

          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col">
                <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" formControlName="name2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width: 300px;">
              </div>
              <div class="col">
                <label for="exampleInputEmail122" class="form-label">Price</label>
              <input type="number" formControlName="price2" class="form-control" id="exampleInputEmail122" aria-describedby="emailHelp" min="0" max="10000.00" step="0.01" style="width: 80px;">
              </div>
            </div>
            </div><div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input type="text" formControlName="description2" class="form-control" id="bigInputField" aria-describedby="emailHelp">
          </div><div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Allergies</label>
            <input type="text" formControlName="allergies2" class="form-control" id="bigInputField" aria-describedby="emailHelp">
          </div>
          <div class="row">
            <div class="col">
              <label for="inlineFormCustomSelectPref" class="form-label">Ingredients</label>
              <div id="ingredientSelectContainer"></div>
            <select formControlName="ingredients2" class="form-select" id="2ingredient{{i}}" aria-label="Default select example" style="width: 300px; margin-bottom: 5px;" *ngFor="let i of ingredientSelect2">
              <option selected value="">Select an ingredient</option>
              <option *ngFor="let ingredient of ingredients$" value="{{ingredient.ingredientId}}">{{ingredient.name}}</option>
            </select>
            </div>
            <div class="col">
              <label for="exampleInputEmail122" class="form-label">Gram</label>
              <div id="ingredientInputContainer"></div>
            <input formControlName="gram2" type="number" *ngFor="let i of ingredientSelect2" id="2gram{{i}}" class="form-control" aria-describedby="emailHelp" min="0" style="width: 80px; margin-bottom: 5px;">
            </div>
          </div>
          <button type="button" class="btn btn-outline-secondary" (click)="addToIngredientSelect2()">+</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="put()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- crop Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crop image</h5>
        <button type="button" id="cancel" class="btn-close" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="max-height: 400px;">
          <img class="cropImage" id="image">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary" (click)="crop()">Crop</button>
      </div>
    </div>
  </div>
</div>

<!-- update crop Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crop image</h5>
        <button type="button" id="cancel" class="btn-close" data-bs-toggle="modal" data-bs-target="#exampleModal2" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="max-height: 400px;">
          <img class="cropImage" id="image2">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-primary" (click)="crop2()">Crop</button>
      </div>
    </div>
  </div>
</div>
