<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<br />
<div class="text-center">
  <h1>Manage ingredient
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="float: right; margin-right:50px;">Add ingredient</button>
  </h1>
</div>


<hr class="line" />
<br />

<div  
class="search-results"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="onScroll()"
>


<div class="list-group" >
  <a class="list-group-item list-group-item-action" *ngFor="let ingredient of ingredients$">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name: {{ingredient.name}}</h5>
      <small class="text-muted">{{ingredient.ingredientId}}</small>
    </div>
    <p class="mb-1">Calories: {{ingredient.calories}}</p>
    <small class="text-muted">Image: {{ingredient.image}}</small>
    <button (click)="delete(ingredient.ingredientId)" class="btn btn-danger mx-3" style="float: right; margin-right:50px;">Delete</button>
    <button (click)="getById(ingredient.ingredientId)" style="color: aliceblue;" class="btn btn-info" style="float: right;" data-bs-toggle="modal" data-bs-target="#exampleModal2">Edit</button>
  </a>
  <br />
  <br />
  <br />
</div>

</div>


<!-- spinner -->
<div class="spinner">
  <ngx-spinner
  bdOpacity = 0.9
  bdColor = ""
  size = "default"
  color = "#581f87"
  type = "ball-pulse-sync"
  [fullScreen] = "false"
  >
  </ngx-spinner>
</div>


<!-- Alert no more post -->
<div *ngIf="loadedEverything">
<div class="col-md-12 d-flex justify-content-center">
  <div class="text-muted h6 alert alert-secondary p-2">No more ingredients to show</div>
</div>
<br>
<br>
</div>


<!-- add Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add ingredient</h5>
        <button type="button" id="cancel" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div><div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Calories</label>
            <input type="number" formControlName="calories" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" min="0">
          </div><div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image</label>
            <input type="file" (change)="convertToBase64($event)" formControlName="image" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" accept=".png">
          </div>

          <div style="max-height: 400px;">
            <img class="cropImage" id="image">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="post()" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- update Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update ingredient</h5>
        <button type="button" id="cancel2" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue2">

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" formControlName="name2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div><div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Calories</label>
            <input type="number" formControlName="calories2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" min="0">
          </div><div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image</label>
            <input type="file" (change)="convertToBase642($event)" formControlName="image2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" accept=".png">
          </div>
          <br>
          <img src="{{imageUrl}}" class="img-fluid rounded-start">
          <div style="max-height: 400px;">
            <img class="cropImage" id="image2">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="put()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
