div.list-group {
  width: 950px;
  margin: auto;
}

.line {
  color: #0000FF;
  background-color: #0000FF;
}

.rounded-start{
  max-height: 150px;
}

.cropImg {
  display: block;
  max-width: 100%;
}

.spinner{
  position: relative;
  bottom: 100px;
  width: 100%;
}